<h2>Todos os pedidos</h2>
<% if @orders.any? %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Pedido</th>
          <th>Criado por</th>
          <th>Galpão</th>
          <th>Data Prevista de Entrega</th>
          <th>Status</th>
        </tr>
      </thead>
  <% @orders.each do |order| %>
    <%= render order %>
  <% end %>
   </table>
    <div>
<% else %>
  <span> 'Não existem pedidos cadastrados' </span>
<% end %>
    <%= link_to('Registrar Pedido', new_order_path, class:'btn btn-primary')%>
    <%= link_to('Meus Pedidos', orders_path, class:'btn btn-secondary')%>
</div>