<h2>Fornecedores</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Nome Fantasia</th>
      <th>Razão Social</th>
      <th>CNPJ</th>
    </tr>
    </thead>
    <tbody>
      <% @supplier.each do |field|%>
        <tr>
          <td><%= link_to(field.name, supplier_path(field.id)) %></td>
          <td><%= link_to(field.company_name, supplier_path(field.id)) %></td>
          <td><%= link_to(field.cnpj, supplier_path(field.id)) %></td>
        </tr>
      <% end %>
      </tbody>
  </table>

 <% if @supplier.empty? %>
      <p>Não existem fornecedores cadastrados</p>
  <% end %>
</section>

<%= link_to('Página Inicial', root_path)%>

