<% @supplier.each do |field|%>
  <ul>
    <li>
      <%= link_to(field.name, supplier_path(field.id)) %>
    </li>
  </ul>
<% end %>

 <% if @supplier.empty? %>
      <p>Não existem fornecedores cadastrados</p>
  <% end %>
</section>

<%= link_to('Página Inicial', root_path)%>

