<section>



<h2>Galp천es</h2>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
      <th>Nome</th>
      <th>C처digo</th>
      <th>Cidade</th>
    </tr>
    </thead>
    <tbody>
      <% @warehouses.each do |field|%>
        <tr>
          <td><%= link_to(field.name, warehouse_path(field.id)) %></td>
          <td><%= link_to(field.code, warehouse_path(field.id)) %></td>
          <td><%= link_to(field.city, warehouse_path(field.id)) %></td>
        </tr>
      <% end %>
      </tbody>
  </table>
</div>
  <% if @warehouses.empty? %>
      <p>N찾o existem galp천es cadastrados</p>
  <% end %>
</section>